* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Sora', sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('background-image.jpg') no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
	padding: 0 5rem 0 5rem;
  background-color: #080D33;
  align-items: center;
}

.aH {
  font-family: 'Sora', sans-serif;
  text-decoration: none;
  color: #F3F3F7;
  padding: 0px 6px 0px 6px;
}

.logo {
  height: 80px;
  width: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
	height: auto;
}

.h1 {
  margin: 2rem;
  font-family: 'Sora', sans-serif;
}

#gallery {
	display: flex;
	justify-content: center;
	list-style: none;
}

.gallery-div > a {
	text-decoration: none;
	color: #ffffff;
}

#gallery:has(li:hover) li:not(:hover) {
	opacity: .6;
	scale: .98;
  }

.gallery-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 344px;
	height: 230px;
	border-radius: 20px;
	margin: 8px 8px 10px 8px;
	background-color: #080D33;

	transition: all .2s;
}

.stroke {
	font-size: 30px;
	text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,                    
                1px -1px 0px #000,                  
                1px 0px 0px #000;
}

.accordion {
	font-size: 1rem;
	padding: 1rem;
	margin-top: 4rem;
}

#listOfObjectives {
	text-align: left;
}

.titleUl {
	font-weight: bold;
	font-size: 20px;
}

li {
	padding-bottom: 5px
}

.mentors {
	text-align: center;
	background-color: #080D33;
	padding: 1rem 0rem 3rem 0rem;
}

.h1-mentors {
	text-align: center;
	color: #F3F3F7;
	padding: 1rem 0 0 20px;
	letter-spacing: 1rem;
}

.bm{
	justify-content: center;
	text-align: center;
	border-radius: 60px;
	height: 400px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 1rem;
}

.cardm{
	align-self: center;
	border-radius: 1000px;
	width: 60%;
	padding: 1rem;
}

.years {
	display: flex;
	justify-content: space-around;
}

#tbr2022 {
	width: 50%;
	height: auto;
}

.offcanvas > .offcanvas-body > div > p {
	padding-top: 1rem;
}

#secondPhotoObr {
	width: 600px;
	height: 320px; 
}

#firstPhotoObr {
	width: 80%;
}

.btnComps {
	width: 400px;
	height: 200px;
	border-radius: 40px;
	margin-bottom: 2rem;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.comps {
	min-height: 40vh;
	text-align: center;
}

.works {
	padding: 0 3rem 0 3rem;
	text-align: center;
}

.workCards {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.workCard {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.footer {
	display: flex;
	justify-content: space-around;
	padding-top: 3rem;
	color: #F3F3F7;
	background-color: #080D33;
	text-decoration: none;
}

.socials {
	text-align: center;
}

.socialsAnchor {
	display: flex;
	flex-direction: column;
}

.anchorF {
	color: #F3F3F7;
	padding: 0.6rem;
	font-family: 'Sora', sans-serif;
}

.madeBy {
	text-align: center;
}

.icons {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.icon-item {
	width: 30px;
	height: 30px;
}

@media (max-width: 1040px) {
	#secondPhotoObr {
		width: 80%;
		height: 280px;
	}

	.btnComps {
		width: 250px;
		height: 140px;
	}

	.card {
		width: 10rem;
		height: auto
	}
	
	.workCards {
		flex-wrap: wrap;
		text-align: center;
		text-align: center;
		justify-content: center;
	}
}

@media (max-width: 800px) {
	#gallery {
		display: grid;
		grid-template-columns: 1fr;
	}

	.gallery-items {
		text-align: end;
	}
}

@media (max-width: 725px) {
	.header {
		font-size: 17px;
		padding: 0 2rem 0 2rem;
	}
}

@media (max-width: 690px) {
	.years {
		flex-direction: column;
	}

	.btnComps:nth-child(1) {
		margin-bottom: 1.4rem;
	}

	.header {
		font-size: 13px;
		padding: 0 2rem 0 2rem;
	}

	.cards {
		display: flex;
		flex-direction: column;
	}

	.bm {
		align-self: center;
		margin: 1rem 0 1rem 0;
	}

	.comps {
		justify-content: center;
		text-align: center;
	}

	.compsCards {
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.card {
		align-self: center;
		margin-bottom: 1rem;
	}
}

@media (max-width: 560px) {
	.header {
		font-size: 11px;
		padding: 0 1rem 0 1rem;
	}

	.h1 {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
	}

	.anchorF {
		font-size: 15px;
	}
}

@media (max-width: 510px) {
	.header {
		font-size: 13px;
		padding: 0 .8rem 0 .8rem;
	}

	.aH {
		padding: 0px 2px 0px 2px;
	}

	i {
		width: 380px;
		height: 210px;
	}

	input:after {
		padding: .9rem;
		font-size: .8rem;
		border-radius: 5px;
	}

	.h1 {
		font-weight: 600;
		font-size: 20px;
	}

	.accordion {
		margin-top: .5rem;
	}

	.card {
		width: 200px;
	}

	h3 {
		font-size: 17px;
	}

	.anchorF {
		font-size: 12px;
	}
}

@media (max-width: 440px) {
	.header {
		font-size: 11px;
		padding: 0 .8rem 0 .8rem;
	}

	.h1 {
		font-size: 2rem;
		font-weight: 700;
	}
}

@media (max-width: 380px) {
	i {
		width: 350px;
		height: 200px;
	}

	.footer {
		display: flex;
		flex-direction: column;
		padding-top: 2rem;
	}

	.icons {
		display: flex;
		flex-direction: column;
	}

	.madeBy h3 {
		margin-top: 1rem;
	}

	.icons a {
		padding-bottom: 1rem;
	}
}
